.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.navLogo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navLogo img{
    width: 50px;
    height: 50px;
}
.navLogo p{
    color: #171717;
    font-size: 30px;
    font-weight: 600;
}
.navMenu{
    display: flex;
    align-items: center;
    list-style: none;
    color: #626262;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
}
.navMenu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.navMenu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}
.navLoginCart{
    display: flex;
    align-items: center;
    gap: 25px;
}
.navLoginCart button{
    width: 145px;
    height: 58px;
    outline: none;
    margin-left: 20px;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.navLoginCart button:active{
    background: #f3f3f3;
}
.navCartCount{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
    .navbar{
        width: 90vw;
    }
}