.item{
    width: 350px;
}
.item p{
    margin: 6px 0px;
}
.item img{
    width: 300px;
    height: 300px;
}
.itemPrices{
    display: flex;
    gap: 20px;
}
.itemPriceNew{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.itemPriceOld{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through; 
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
    .item{
        width: 350px;
        height: 350px;
        margin-bottom: 100px;
    }
    .item img{
        width: 320px;
        height: 320px;
        margin-top: 100px;
    }
}